<nav>
  <div class="wrapper">
    <div class="section">
      <button mat-button class="section-item">
        <mat-icon class="material-icons-outlined">menu_open</mat-icon>
      </button>
    </div>
    <div class="section">
      <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu> -->
      <button mat-button [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/" class="item-button" >Главная</button>
      <button mat-button class="item-button">Пользователи</button>
      <button mat-button class="item-button">Текущий бюджет</button>
      <button mat-button [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/primavera" class="item-button" >Primavera</button>
      <button mat-button [matMenuTriggerFor]="menu" class="item-button-menu">Справочники</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu" class="item-button-menu">Документы</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
    </div>
    <div class="section">
      <button mat-button [matMenuTriggerFor]="menu" class="item-button-menu">Настройки
        <mat-icon class="material-icons-outlined">tune</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
    </div>
  </div>
</nav>