<app-header></app-header>
<div class="wrapper-fluid">
    <div class="row" style="display: flex;">
       <div class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }">
        <app-menu></app-menu>
       </div>
       <div class="wapper-content" [ngClass]="{ 'content-min': menu.isCollapsed }">
            <section>
                <div class="wrapper-tools">
                    <div class="tools-item">
                        <h2 class="item-title">Объекты аналоги</h2>
                        <span class="item-description">Информационный раздел</span>
                    </div>
                    <div class="tools-item" style="display: flex;">
                        <span class="p-float-label">
                          <input id="float-input" type="text" pInputText class="p-inputtext-sm"> 
                          <label for="float-input">Поиск:</label>
                        </span>
                        <button mat-button matTooltip="Добавить объект" class="bnt-tools-style-a" (click)="dialog.isOpen();addSection_1()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </section>
            <div class="content">

              <div class="card">
                <h5>Справочник объектов аналогов</h5>
                <p-table [value]="customers" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                          <th *ngFor="let head of theader">{{ head }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-customer>
                        <tr>
                            <td>{{customer.title}}</td>
                            <td>{{customer.date_start}}</td>
                            <td>{{customer.date_end}}</td>
                            <td>{{customer.total_cost}}</td>
                            <td>{{customer.pir_comp}}</td>
                            <td>{{customer.pir_cost}}</td>
                            <td>{{customer.oto_cost}}</td>
                            <td>{{customer.etc_cost}}</td>
                            <td>{{customer.smr_comp}}</td>
                            <td>{{customer.smr_cost}}</td>
                            <td>{{customer.tech_description}}</td>
                            <td>{{customer.project}}</td>
                            <td>{{customer.type}}</td>
                            <td>{{customer.region}}</td>
                            <td>{{customer.currency}}</td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu class="customize" #menu="matMenu">
                                <button mat-menu-item (click)="showDetails(customer)">
                                  <mat-icon class="mat-menu-icon">sort</mat-icon>
                                  <span>Подробнее</span>
                                </button>
                                <button mat-menu-item  (click)="editAnalogBudget(customer); dialog.isOpen();addSection_2()">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Редактировать</span>
                                </button>
                                <button mat-menu-item (click)="delAnalogBudget(customer)">
                                  <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                                  <span class="delete">Удалить</span>
                                </button>
                              </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
              </div>

            <p-dialog header="Header" 
            styleClass="modal-element" 
            [style]="{ 'width': dialog.isMaximized ? '100vw' : '30vw' }" 
            [(visible)]="dialog.openDialog" 
            [position]="dialog.position" 
            [draggable]="false" 
            [maximizable]="false" 
            [closable]="false"
            [modal]="false">
              <ng-template pTemplate="header">
                <div class="header-d-flex">
                  <div>
                    <h2>Добавить объект аналог</h2>
                  </div>
                  <div class="button-d-flex">
                    <div>
                      <button class="mat-btn-resize" (click)="dialog.toggleMaximize()">
                        <mat-icon *ngIf="dialog.isMaximized">call_received</mat-icon>
                        <mat-icon *ngIf="!dialog.isMaximized">call_made</mat-icon>
                      </button>    
                    </div>
                    <div>
                      <button class="mat-btn-exit" mat-stroked-button (click)="dialog.openDialog = false;">
                        <mat-icon class="bnt-close">close</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div class="form-wrapper" *ngIf="section == 'section-1'">
                <form [formGroup]="analogForm">
                  <div class="common">
                    <div class="column-a">
                      <span class="p-float-label">
                        <p-calendar inputId="birth_date" dateFormat="dd.mm.yy" class="p-inputtext-sm" formControlName="date_start"></p-calendar>
                          <label for="birth_date">Дата начала факт:</label>
                      </span>
                      <span class="p-float-label">
                        <p-calendar inputId="birth_date" dateFormat="dd.mm.yy" formControlName="date_end"></p-calendar>
                          <label for="birth_date">Дата окончания факт:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="title"> 
                        <label for="float-input">Название:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="pir_comp"> 
                        <label for="float-input">Предприятие ПИР:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="pir_cost"> 
                        <label for="float-input">ПИР стоимость:</label>
                      </span>
                    </div>
                    <div class="column-b">
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="oto_cost"> 
                        <label for="float-input">Оборудование стоимость:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="etc_cost"> 
                        <label for="float-input">Прочее стоимость:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="smr_cost"> 
                        <label for="float-input">СМР стоимость:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="smr_comp"> 
                        <label for="float-input">Предприятие СМР:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="tech_description"> 
                        <label for="float-input">Тех. характеристики:</label>
                      </span>
                    </div>                  
                  </div>
                  <div class="column-c">
                    <span class="p-float-label">
                      <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="project"> 
                      <label for="float-input">Проект реализации:</label>
                    </span>
                    <div class="p-field p-col-12 p-md-4">
                      <span class="p-float-label">
                        <p-dropdown
                          inputId="dropdown"
                          [style]="{'width':'100%'}"
                          [autoDisplayFirst]="false"
                          [options]="getCategory"
                          formControlName="type"
                          optionLabel="title"
                          optionValue="id">
                        </p-dropdown>
                        <label for="dropdown">Категория</label>
                      </span>
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                      <span class="p-float-label">
                        <p-dropdown
                          inputId="dropdown"
                          [style]="{'width':'100%'}"
                          [autoDisplayFirst]="false"
                          [options]="getRegion"
                          formControlName="region"
                          optionLabel="title"
                          optionValue="id">
                        </p-dropdown>
                        <label for="dropdown">Регион</label>
                      </span>
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                      <span class="p-float-label">
                        <p-dropdown
                          inputId="dropdown"
                          [style]="{'width':'100%'}"
                          [autoDisplayFirst]="false"
                          [options]="getCurrencyList"
                          formControlName="currency"
                          optionLabel="title"
                          optionValue="id">
                        </p-dropdown>
                        <label for="dropdown">Валюта</label>
                      </span>
                    </div>
                    <button mat-stroked-button class="bnt-save" (click)="addAnalogBudget()">
                      <span class="save-color">Добавить</span>
                    </button>
                  </div>
                </form>
              </div>
              <div class="form-wrapper" *ngIf="section == 'section-2'">
                <form [formGroup]="analogForm">
                  <div class="common">
                    <div class="column-a">
                      <span class="p-float-label">
                        <p-calendar inputId="birth_date" dateFormat="dd.mm.yy" class="p-inputtext-sm" formControlName="date_start"></p-calendar>
                          <label for="birth_date">Дата начала факт:</label>
                      </span>
                      <span class="p-float-label">
                        <p-calendar inputId="birth_date" dateFormat="dd.mm.yy" formControlName="date_end"></p-calendar>
                          <label for="birth_date">Дата окончания факт:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="title"> 
                        <label for="float-input">Название:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="pir_comp"> 
                        <label for="float-input">Предприятие ПИР:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="pir_cost"> 
                        <label for="float-input">ПИР стоимость:</label>
                      </span>
                    </div>
                    <div class="column-b">
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="oto_cost"> 
                        <label for="float-input">Оборудование стоимость:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="etc_cost"> 
                        <label for="float-input">Прочее стоимость:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="smr_cost"> 
                        <label for="float-input">СМР стоимость:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="smr_comp"> 
                        <label for="float-input">Предприятие СМР:</label>
                      </span>
                      <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="tech_description"> 
                        <label for="float-input">Технические характеристики:</label>
                      </span>
                    </div>                  
                  </div>
                  <div class="column-c">
                    <span class="p-float-label">
                      <input id="float-input" type="text" pInputText class="p-inputtext-lg" formControlName="project"> 
                      <label for="float-input">Проект реализации:</label>
                    </span>
                    <div class="p-field p-col-12 p-md-4">
                      <span class="p-float-label">
                        <p-dropdown
                          inputId="dropdown"
                          [style]="{'width':'100%'}"
                          [autoDisplayFirst]="false"
                          [options]="getCategory"
                          formControlName="type"
                          optionLabel="title"
                          optionValue="id">
                        </p-dropdown>
                        <label for="dropdown">Категория</label>
                      </span>
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                      <span class="p-float-label">
                        <p-dropdown
                          inputId="dropdown"
                          [style]="{'width':'100%'}"
                          [autoDisplayFirst]="false"
                          [options]="getRegion"
                          formControlName="region"
                          optionLabel="title"
                          optionValue="id">
                        </p-dropdown>
                        <label for="dropdown">Регион</label>
                      </span>
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                      <span class="p-float-label">
                        <p-dropdown
                          inputId="dropdown"
                          [style]="{'width':'100%'}"
                          [autoDisplayFirst]="false"
                          [options]="getCurrencyList"
                          formControlName="currency"
                          optionLabel="title"
                          optionValue="id">
                        </p-dropdown>
                        <label for="dropdown">Валюта</label>
                      </span>
                    </div>
                    <button (click)="saveAnalogBudget()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                      <span class="d-flex align-items-center">Добавить</span>
                    </button>
                  </div>
                </form>
              </div>
            </p-dialog>

            </div>
            <div class="static-bar"></div>
          </div>
      </div>
  </div>