@mixin square($color) {
  color: $color !important;
}
::ng-deep.customize {
  @include square(#6c6c6c);
}
::ng-deep.mat-menu-icon {
  @include square(#6c6c6c);
}
::ng-deep.mat-menu-icon-del {
  @include square(#f44336);
}
.delete {
  @include square(#f44336);
}
::ng-deep .p-element.ng-trigger.ng-trigger-animation {
    width: 30vw;
    z-index: 1101;
    position: absolute;
    right: 0px;
    height: 100%;
    max-height: 100%;
    margin: 0;
  }
  ::ng-deep.p-dialog .p-dialog-content {
    // background: var(--theme-modal-background) !important;
    // color: var(--theme-modal-color) !important;
    background: #fff !important;
    color: #000 !important;
  }
  ::ng-deep.p-dialog .p-dialog-header {
    // background: var(--theme-modal-background) !important;
    // color: var(--theme-modal-color) !important;
    background: #fff !important;
    color: #000 !important;
  }
  ::ng-deep .p-calendar .p-inputtext {
    padding: 15px 14px !important;
    font-size: 12px;
    width: 240px;
  }
  .column-c {
    padding: 5px;
  }
  .p-inputtext-sm {
    width: 240px;
  }
  .lg {
    width: 100%;
  }