<app-header></app-header>
<div class="wrapper-fluid">
    <div class="row" style="display: flex;">
       <div class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }">
        <app-menu></app-menu>
       </div>
       <div class="wapper-content" [ngClass]="{ 'content-min': menu.isCollapsed }">
            <section>
                <div class="wrapper-tools">
                    <div class="tools-item">
                        <h2 class="item-title">Макропараметры</h2>
                        <span class="item-description">Информационный раздел</span>
                    </div>
                    <div class="tools-item" style="display: flex;">
                        <!-- <button mat-button matTooltip="Добавить коэффициент сложности" class="bnt-tools-style-a" (click)="dialog.isOpen();addSection_1()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                            </span>
                        </button> -->
                    </div>
                </div>
            </section>
              <div class="content">
                <p-tabView>
                  <p-tabPanel header="Ключ">
                    <p-table [value]="dataKey" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                          <th *ngFor="let head of theader">{{ head }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dataKey let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{dataKey.param_1}}</td>
                            <td>{{dataKey.param_2}}</td>
                            <td>{{dataKey.param_3}}</td>
                            <td>{{dataKey['2024']}}</td>
                            <td>{{dataKey['2025']}}</td>
                            <td>{{dataKey['2026']}}</td>
                            <td>{{dataKey['2027']}}</td>
                            <td>{{dataKey['2028']}}</td>
                            <td>{{dataKey['2029']}}</td>
                            <td>{{dataKey['2030']}}</td>
                            <td>{{dataKey['2031']}}</td>
                            <td>{{dataKey['2032']}}</td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu class="customize" #menu="matMenu">
                                <!-- <button mat-menu-item  (click)="editRatio(dataKey); dialog.isOpen();addSection_2()">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Редактировать</span>
                                </button> -->
                                <!-- <button mat-menu-item (click)="delRatio(dataKey)">
                                  <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                                  <span class="delete">Удалить</span>
                                </button> -->
                              </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                    </p-table>
                  </p-tabPanel>
                  <p-tabPanel header="WACC">
                    <p-table [value]="getWacc" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                          <th *ngFor="let head of theaderW">{{ head }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-getWacc let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{getWacc.parameter}}</td>
                            <td>{{getWacc.source}}</td>
                            <td>{{getWacc.value}}</td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu class="customize" #menu="matMenu">
                                <!-- <button mat-menu-item  (click)="editRatio(inflation1); dialog.isOpen();addSection_2()">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Редактировать</span>
                                </button> -->
                                <!-- <button mat-menu-item (click)="delRatio(inflation1)">
                                  <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                                  <span class="delete">Удалить</span>
                                </button> -->
                              </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                    </p-table>
                  </p-tabPanel>
                  <p-tabPanel header="Значение параметров">
                    <p-table [value]="paramList" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                          <th *ngFor="let head of theaderP">{{ head }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-paramList let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{paramList.type_parameter}}</td>
                            <td>{{paramList.name}}</td>
                            <td>{{paramList.base}}</td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu class="customize" #menu="matMenu">
                                <!-- <button mat-menu-item  (click)="editRatio(inflation1); dialog.isOpen();addSection_2()">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Редактировать</span>
                                </button> -->
                                <!-- <button mat-menu-item (click)="delRatio(inflation1)">
                                  <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                                  <span class="delete">Удалить</span>
                                </button> -->
                              </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                    </p-table>
                  </p-tabPanel>
                  <p-tabPanel header="Курсы валют">
                    <p-table [value]="dataCurrencies" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                          <th *ngFor="let head of theader">{{ head }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-currencies let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{currencies.param_1}}</td>
                            <td>{{currencies.param_2}}</td>
                            <td>{{currencies.param_3}}</td>
                            <td>{{currencies['2024']}}</td>
                            <td>{{currencies['2025']}}</td>
                            <td>{{currencies['2026']}}</td>
                            <td>{{currencies['2027']}}</td>
                            <td>{{currencies['2028']}}</td>
                            <td>{{currencies['2029']}}</td>
                            <td>{{currencies['2030']}}</td>
                            <td>{{currencies['2031']}}</td>
                            <td>{{currencies['2032']}}</td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu class="customize" #menu="matMenu">
                                <!-- <button mat-menu-item  (click)="editRatio(currencies); dialog.isOpen();addSection_2()">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Редактировать</span>
                                </button> -->
                                <!-- <button mat-menu-item (click)="delRatio(currencies)">
                                  <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                                  <span class="delete">Удалить</span>
                                </button> -->
                              </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                    </p-table>
                  </p-tabPanel>
                  <p-tabPanel header="Металлы">
                    <p-table [value]="dataMetals" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                          <th *ngFor="let head of theader">{{ head }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-metals let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{metals.param_1}}</td>
                            <td>{{metals.param_2}}</td>
                            <td>{{metals.param_3}}</td>
                            <td>{{metals['2024']}}</td>
                            <td>{{metals['2025']}}</td>
                            <td>{{metals['2026']}}</td>
                            <td>{{metals['2027']}}</td>
                            <td>{{metals['2028']}}</td>
                            <td>{{metals['2029']}}</td>
                            <td>{{metals['2030']}}</td>
                            <td>{{metals['2031']}}</td>
                            <td>{{metals['2032']}}</td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu class="customize" #menu="matMenu">
                                <!-- <button mat-menu-item  (click)="editRatio(metals); dialog.isOpen();addSection_2()">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Редактировать</span>
                                </button> -->
                                <!-- <button mat-menu-item (click)="delRatio(metals)">
                                  <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                                  <span class="delete">Удалить</span>
                                </button> -->
                              </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                    </p-table>
                  </p-tabPanel>
                  <p-tabPanel header="Инфляция ИЦП">
                    <p-table [value]="dataInflation1" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                          <th *ngFor="let head of theader">{{ head }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-inflation1 let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{inflation1.param_1}}</td>
                            <td>{{inflation1.param_2}}</td>
                            <td>{{inflation1.param_3}}</td>
                            <td>{{inflation1['2024']}}</td>
                            <td>{{inflation1['2025']}}</td>
                            <td>{{inflation1['2026']}}</td>
                            <td>{{inflation1['2027']}}</td>
                            <td>{{inflation1['2028']}}</td>
                            <td>{{inflation1['2029']}}</td>
                            <td>{{inflation1['2030']}}</td>
                            <td>{{inflation1['2031']}}</td>
                            <td>{{inflation1['2032']}}</td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu class="customize" #menu="matMenu">
                                <!-- <button mat-menu-item  (click)="editRatio(inflation1); dialog.isOpen();addSection_2()">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Редактировать</span>
                                </button> -->
                                <!-- <button mat-menu-item (click)="delRatio(inflation1)">
                                  <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                                  <span class="delete">Удалить</span>
                                </button> -->
                              </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                    </p-table>
                  </p-tabPanel>
                  <p-tabPanel header="Инфляция ИПЦ">
                    <p-table [value]="dataInflation2" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                          <th *ngFor="let head of theader">{{ head }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-inflation2 let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{inflation2.param_1}}</td>
                            <td>{{inflation2.param_2}}</td>
                            <td>{{inflation2.param_3}}</td>
                            <td>{{inflation2['2024']}}</td>
                            <td>{{inflation2['2025']}}</td>
                            <td>{{inflation2['2026']}}</td>
                            <td>{{inflation2['2027']}}</td>
                            <td>{{inflation2['2028']}}</td>
                            <td>{{inflation2['2029']}}</td>
                            <td>{{inflation2['2030']}}</td>
                            <td>{{inflation2['2031']}}</td>
                            <td>{{inflation2['2032']}}</td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu class="customize" #menu="matMenu">
                                <!-- <button mat-menu-item  (click)="editRatio(inflation2); dialog.isOpen();addSection_2()">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Редактировать</span>
                                </button> -->
                                <!-- <button mat-menu-item (click)="delRatio(inflation2)">
                                  <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                                  <span class="delete">Удалить</span>
                                </button> -->
                              </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                    </p-table>
                  </p-tabPanel>
                </p-tabView>
              </div>
              <div class="static-bar"></div>
            </div>
        </div>
    </div>