// .wrapper {
//     display: flex;
//     justify-content: space-between;
//     background: #fff;
//     margin-bottom: 15px;
//     padding: 15px;
//     border-radius: 0px 0px 5px 5px;
//     h2 {
//         margin: 0;
//     }
// }
// .static-bar {
//     background: #ec8b2d;
//     border-radius: 0px 0px 5px 5px;
//     height: .5vh;
// } 