<app-header></app-header>
<div class="wrapper-fluid">
    <div class="row" style="display: flex;">
       <div class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }">
        <app-menu></app-menu>
       </div>
       <div class="wapper-content" [ngClass]="{ 'content-min': menu.isCollapsed }">
            <section>
                <div class="wrapper-tools">
                    <div class="tools-item">
                        <h2 class="item-title">Синхронизация с primavera</h2>
                        <span class="item-description">Информационный раздел</span>
                    </div>
                    <div class="tools-item" style="display: flex;">
                        <button mat-button matTooltip="Получить из primavera" class="bnt-tools-style-a">
                            <span style="text-align: center;">
                                <mat-icon>vertical_align_bottom</mat-icon>
                            </span>
                        </button>
                        <button mat-button matTooltip="Отправить в primavera" class="bnt-tools-style-a">
                            <span style="text-align: center;">
                                <mat-icon>vertical_align_top</mat-icon>
                            </span>
                        </button>
                        <button mat-button class="bnt-tools-style-b" (click)="toWbs()">В СДР
                            <mat-icon>vertical_align_top</mat-icon>
                        </button>
                        <button mat-button class="bnt-tools-style-b" (click)="fromWbs()">Из СДР
                            <mat-icon>vertical_align_bottom</mat-icon>
                        </button>
                    </div>
                </div>
            </section>
            <div class="content">
                <p-treeTable [value]="files" [columns]="cols" selectionMode="checkbox" [(selectionKeys)]="selectionKeys" dataKey="key" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                    <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                        <td *ngFor="let col of columns; let i = index">
                            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                            <p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0"></p-treeTableCheckbox>
                            {{ rowData[col.field] }}
                        </td>
                    </tr>
                </ng-template>
                </p-treeTable>
            </div>
            <div class="static-bar"></div>
        </div>
    </div>
</div>