a {
    text-decoration: none;
    color: #2d6433;
    display: block;
    padding: 10px;
}
.wrapper {
    width: 85px;
    height: 85px;
}
.logo {
    overflow: hidden;
}
.logo img {
    width: auto;
    height: 100%;
    margin: 0px 0 0 0px;
}
.link-active {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    background: #fff;
    color: #eb8b2d;
    text-decoration: none;
    a {
        text-decoration: none;
        color: #fff;
    }
}
.scroll {
    padding: 15px;
}
::ng-deep.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
    color: #2d6433;
}
::ng-deep.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
    background: none;
}
::ng-deep .p-panelmenu .p-panelmenu-content {
    background: #ffffff3d;
}
::ng-deep .p-panelmenu .p-panelmenu-panel {
    box-shadow: none;
}
::ng-deep .menu-min > .p-panelmenu .p-panelmenu-panel {
    width: 125px;
}
::ng-deep .menu-min > .p-panelmenu .p-panelmenu-header-action {
    flex-direction: column;
}
$width: 13.4vw;
$smoll-width: 120px;
.wrapper-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: $width;
    top: 0px;
    height:100vh;
    background: #b5dca5;
    .wrapper-navbar-decor {
        position: absolute;
        width: $width;
        height: 5px;
        bottom: 0px;
        background: #ec8b2d;
    }
    .wrapper-navbar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: $width;
        height: 30px;
        background: #fff;
        color: #fff;
        box-shadow: 0 4px 10px #00000010, 0 0 2px #0000000f, 0 2px 6px #0000001f;
    }
    .wrapper-navbar-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 225px;
        margin-left: 25px;
        .footer-nav-button {
              margin: 5px 0px 5px 0px;
              width: 12vw;
              display: flex;
              justify-content: flex-start;
              .footer-nav-button:hover {
                  background: rgba(255, 255, 255, 0.9) !important;
              }
        }
        .link-max {
            width: 193px;
        }
        .footer-nav-link {
            color: #2d6433;
        }
        .ac-nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .link-icon {
            margin-right: 10px;
            font-size: 20px;
            vertical-align: middle;
        }
        .icon-smoll {
            margin-right: 0px;
        }
      }
      .arrow {
          position: absolute;
          bottom: 0px;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          background: none;
          border: none;
          color: #fff;
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .arrow:hover {
          background: #636d81;
      }
  }
.menu-animation {
    transition: all .2s ease-in-out;
    z-index: 1;
}
.ac-container {
    padding: 15px;
    color: #6c6c6c;
    font-family: "Caviar Dreams" !important;
    font-weight: bold;
}
.link-article {
    width: 195px;
}
.article-link-smoll {
    width: auto;
}
  
@media (max-width: 991px) {
    .desktop-nav {
        display: none !important;
    }
    .mobile-nav {
        display: flex !important;
        justify-content: space-between;
        position: absolute;
        width: 80%;
        right: 10%;
    }
}
  
  