<nav class="wrapper-navbar menu-animation" [ngClass]="{ 'menu-min': menu.isCollapsed }">
  <div class="wrapper-navbar-container menu-animation" [ngClass]="{ 'menu-min': menu.isCollapsed }">
    <a class="navbar-brand nav-link" routerLink="/home">
      <div class="wrapper logo">
        <!-- <img src="../../assets/logo.png" alt=""> -->
      </div>
    </a>
  </div>
  <section class="ac-container">Проект</section>
  <div class="card flex justify-content-center">
    <p-panelMenu [model]="items" styleClass="w-full md:w-20rem" [ngClass]="{ 'menu-min': menu.isCollapsed }">
        <ng-template pTemplate="item" let-item>
            <ng-container *ngIf="item.route; else urlRef">
              <!-- <div class="p-menuitem-content"> -->
                <a [routerLink]="item.route" [routerLinkActive]="['link-active']" class="flex align-items-center cursor-pointer text-color px-3 py-2">
                    <span [class]="item.icon"></span>
                    <span class="ml-2 text-color">{{ item.label }}</span>
                </a>
              <!-- </div> -->
            </ng-container>
            <ng-template #urlRef>
                <a *ngIf="item.url; else noLink" [href]="item.url" class="flex align-items-center cursor-pointer text-color px-3 py-2">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                </a>
                <ng-template #noLink>
                  <div class="scroll">
                    <span class="flex align-items-center cursor-pointer text-color px-3 py-2">
                        <span [class]="item.icon"></span>
                        <span class="ml-2">{{ item.label }}</span>
                        <i *ngIf="item.items" class="pi pi-angle-down text-primary ml-auto"></i>
                    </span>
                  </div>  
                </ng-template>
            </ng-template>
        </ng-template>
    </p-panelMenu>
</div>

  <section class="ac-container">Бюджет проекта</section>

  <section class="ac-container">
    <button class="arrow" #btn_1 (click)="menu.setWidthMin()">
      <mat-icon *ngIf="!menu.isCollapsed">keyboard_arrow_left</mat-icon>
      <mat-icon *ngIf="menu.isCollapsed">keyboard_arrow_right</mat-icon>
    </button>
  </section>
  <div class="wrapper-navbar-decor menu-animation" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }"></div>
</nav>