<app-header></app-header>
<div class="wrapper-fluid">
    <div class="row" style="display: flex;">
       <div class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }">
        <app-menu></app-menu>
       </div>
       <div class="wapper-content" [ngClass]="{ 'content-min': menu.isCollapsed }">
            <section>
                <div class="wrapper-tools">
                    <div class="tools-item">
                        <h2 class="item-title">Объекты аналоги</h2>
                        <span class="item-description">Объекты аналоги / Детали</span>
                    </div>
                    <div class="tools-item" style="display: flex;">
                        <button mat-button matTooltip="Вернутся назад" class="bnt-tools-style-a" (click)="dialog.goBack()">
                            <span style="text-align: center;">
                                <mat-icon>navigate_before</mat-icon>
                            </span>
                        </button>
                        <button mat-button class="bnt-tools-style-b" (click)="dialog.isOpen();addSection_1()">
                            <span style="text-align: center;display: flex;">
                                <span style="margin-right: 5px;">Оборудование</span>
                                <mat-icon>add_box</mat-icon>
                            </span>
                        </button>
                        <button mat-button class="bnt-tools-style-b" (click)="dialog.isOpen();addSection_2()">
                            <span style="text-align: center;display: flex;">
                                <span style="margin-right: 5px;">Пакет работ</span>
                                <mat-icon>add_box</mat-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </section>
            <div class="content">
                <p-tabView>
                    <p-tabPanel header="Пакет работ">
                        <div class="card">
                            <p-table [value]="pack" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                                <ng-template pTemplate="header">
                                    <tr>
                                      <th *ngFor="let head of theaderP">{{ head }}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-pack let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{rowIndex+1}}</td>
                                        <td>{{pack.title}}</td>
                                        <td>{{pack.contractor}}</td>
                                        <td>{{pack.total_cost}}</td>
                                        <td>{{pack.mh}}</td>
                                        <td>{{pack.comments}}</td>
                                        <td>{{pack.volume}}</td>
                                        <td>{{pack.unit_of_measure}}</td>
                                        <td>{{pack.pp_cost}}</td>
                                        <td>{{pack.type}}</td>
                                        <td>{{pack.region}}</td>
                                        <td>{{pack.currency}}</td>

                                        <td>
                                          <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                          </button>
                                          <mat-menu class="customize" #menu="matMenu">
                                            <!-- <button mat-menu-item (click)="showDetails(customer)">
                                              <mat-icon class="mat-menu-icon">sort</mat-icon>
                                              <span>Подробнее</span>
                                            </button> -->
                                            <!-- <button mat-menu-item  (click)="editAnalogBudget(customer); dialog.isOpen();addSection_2()">
                                              <mat-icon class="mat-menu-icon">edit</mat-icon>
                                              <span>Редактировать</span>
                                            </button> -->
                                            <button mat-menu-item (click)="delWorkPackage(pack)">
                                              <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                                              <span class="delete">Удалить</span>
                                            </button>
                                          </mat-menu>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Оборудование">
                            <p-table [value]="Equip" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                                <ng-template pTemplate="header">
                                    <tr>
                                      <th *ngFor="let head of theaderE">{{ head }}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-Equip let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{rowIndex+1}}</td>
                                        <td>{{Equip.title}}</td>
                                        <td>{{Equip.manufacturer}}</td>
                                        <td>{{Equip.tech_description}}</td>
                                        <td>{{Equip.total_cost}}</td>
                                        <td>{{Equip.description}}</td>
                                        <td>{{Equip.type}}</td>
                                        <td>{{Equip.currency}}</td>
                                        <td>
                                          <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                          </button>
                                          <mat-menu class="customize" #menu="matMenu">
                                            <!-- <button mat-menu-item (click)="showDetails(customer)">
                                              <mat-icon class="mat-menu-icon">sort</mat-icon>
                                              <span>Подробнее</span>
                                            </button> -->
                                            <!-- <button mat-menu-item  (click)="editAnalogBudget(customer); dialog.isOpen();addSection_2()">
                                              <mat-icon class="mat-menu-icon">edit</mat-icon>
                                              <span>Редактировать</span>
                                            </button> -->
                                            <button mat-menu-item (click)="delEquipment(Equip)">
                                              <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                                              <span class="delete">Удалить</span>
                                            </button>
                                          </mat-menu>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                    </p-tabPanel>
                </p-tabView>
                <p-dialog header="Header" 
                styleClass="modal-element" 
                [style]="{ 'width': dialog.isMaximized ? '100vw' : '30vw' }" 
                [(visible)]="dialog.openDialog" 
                [position]="dialog.position" 
                [draggable]="false" 
                [maximizable]="false" 
                [closable]="false" 
                [modal]="false">
                  <ng-template pTemplate="header">
                    <div class="header-d-flex">
                      <div>
                        <h2>Добавить объект аналог</h2>
                      </div>
                      <div class="button-d-flex">
                        <div>
                          <button class="mat-btn-resize" (click)="dialog.toggleMaximize()">
                            <mat-icon *ngIf="dialog.isMaximized">call_received</mat-icon>
                            <mat-icon *ngIf="!dialog.isMaximized">call_made</mat-icon>
                          </button>    
                        </div>
                        <div>
                          <button class="mat-btn-exit" mat-stroked-button (click)="dialog.openDialog = false;">
                            <mat-icon class="bnt-close">close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <div class="form-wrapper" *ngIf="section == 'section-1'">
                    <form [formGroup]="equipmenForm">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="title"> 
                            <label for="float-input">Название:</label>
                        </span>
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="manufacturer"> 
                            <label for="float-input">Производитель:</label>
                        </span>
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="tech_description"> 
                            <label for="float-input">Тех. характеристики:</label>
                        </span>
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="total_cost"> 
                            <label for="float-input">Цена:</label>
                        </span>
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="description"> 
                            <label for="float-input">Описание:</label>
                        </span>
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="analog_project"> 
                            <label for="float-input">Проект:</label>
                        </span>
                        <div class="p-field p-col-12 p-md-4">
                            <span class="p-float-label">
                                <p-dropdown
                                inputId="dropdown"
                                [style]="{'width':'100%'}"
                                [autoDisplayFirst]="false"
                                [options]="getCurrencyList"
                                formControlName="currency"
                                optionLabel="title"
                                optionValue="id">
                                </p-dropdown>
                                <label for="dropdown">Валюта</label>
                            </span>
                        </div>
                        <div class="p-field p-col-12 p-md-4">
                            <span class="p-float-label">
                                <p-dropdown
                                inputId="dropdown"
                                [style]="{'width':'100%'}"
                                [autoDisplayFirst]="false"
                                [options]="getCategory"
                                formControlName="type"
                                optionLabel="title"
                                optionValue="id">
                                </p-dropdown>
                                <label for="dropdown">Категория</label>
                            </span>
                        </div>
                        <button mat-stroked-button class="bnt-save" (click)="addEquipments()">
                            <span class="save-color">Добавить</span>
                        </button>
                    </form>
                  </div>
                  <div class="form-wrapper" *ngIf="section == 'section-2'">
                    <form [formGroup]="workPackage">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="title"> 
                            <label for="float-input">Название:</label>
                        </span>
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="contractor"> 
                            <label for="float-input">Подрядчик:</label>
                        </span>
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="total_cost"> 
                            <label for="float-input">Стоимость итого:</label>
                        </span>
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="mh"> 
                            <label for="float-input">Трудозатраты:</label>
                        </span>
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="comments"> 
                            <label for="float-input">Описание:</label>
                        </span>
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="volume"> 
                            <label for="float-input">Физ.объем:</label>
                        </span>
                        <div class="p-field p-col-12 p-md-4">
                            <span class="p-float-label">
                                <p-dropdown
                                inputId="dropdown"
                                [style]="{'width':'100%'}"
                                [autoDisplayFirst]="false"
                                [options]="getMeasure"
                                formControlName="unit_of_measure"
                                optionLabel="title"
                                optionValue="id">
                                </p-dropdown>
                                <label for="dropdown">Единица измерения</label>
                            </span>
                        </div>
                        <div class="p-field p-col-12 p-md-4">
                            <span class="p-float-label">
                                <p-dropdown
                                inputId="dropdown"
                                [style]="{'width':'100%'}"
                                [autoDisplayFirst]="false"
                                [options]="getCurrencyList"
                                formControlName="currency"
                                optionLabel="title"
                                optionValue="id">
                                </p-dropdown>
                                <label for="dropdown">Валюта</label>
                            </span>
                        </div>
                        <div class="p-field p-col-12 p-md-4">
                            <span class="p-float-label">
                                <p-dropdown
                                inputId="dropdown"
                                [style]="{'width':'100%'}"
                                [autoDisplayFirst]="false"
                                [options]="getRegion"
                                formControlName="region"
                                optionLabel="title"
                                optionValue="id">
                                </p-dropdown>
                                <label for="dropdown">Регион</label>
                            </span>
                        </div>
                        <div class="p-field p-col-12 p-md-4">
                            <span class="p-float-label">
                                <p-dropdown
                                inputId="dropdown"
                                [style]="{'width':'100%'}"
                                [autoDisplayFirst]="false"
                                [options]="getCategory"
                                formControlName="type"
                                optionLabel="title"
                                optionValue="id">
                                </p-dropdown>
                                <label for="dropdown">Категория</label>
                            </span>
                        </div>
                        <button mat-stroked-button class="bnt-save" (click)="addWorkPackage()">
                            <span class="save-color">Добавить</span>
                        </button>
                    </form>
                  </div>
                </p-dialog>
            </div>
            <div class="static-bar"></div>
          </div>
      </div>
  </div>