@font-face {
    font-family: 'Unbounded-Regular';
    font-style: normal;
    font-weight: 400;
    src:
    url('./assets/Unbounded-Regular.ttf') format('ttf'),
}
@font-face {
    font-family: 'Caviar Dreams';
    src: local('./assets/Caviar_Dreams_Bold'), local('CaviarDreams-Bold'), url('https://hb.bizmrg.com/fonts/caviar/700.woff2') format('woff2'), url('https://hb.bizmrg.com/fonts/caviar/700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src:
         url('./assets/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2') format('woff2'),
         url('./assets/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUcel5euIg.woff2') format('woff2'),
         url('./assets/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0NjbrHg.woff2') format('woff2'),
         url('./assets/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmPq_HTTw.woff2') format('woff2'),
         url('./assets/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvRImcycg.woff2') format('woff2')
  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #e0e1e9; }
.wapper-content {
    width: 86.5vw;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    .content {
        padding: 25px;
        background: #fff;
        border-radius: 5px 5px 0px 0px;
    }
}
.wrapper-tools {
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    h2 {
        margin: 0;
    }
}
.static-bar {
    background: #ec8b2d;
    border-radius: 0px 0px 5px 5px;
    height: .5vh;
}
.common{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
    .p-float-label {
        margin-bottom: 20px;
    }
}

.header-d-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #6c6c6c;
    .button-d-flex {
        display: flex;
    }
}
.bnt-close {
    margin: 7px !important;
    color: #6c6c6c;
}
.bnt-save {
    margin-bottom: 15px;
    width: 100%;
    .save-color {
        color: #4da958;
    }
}
.mat-btn-resize {
    // border: var(--theme-nav-border) !important;
    margin-right: 5px;
    border: 1px solid #0000001f !important;
    color: #6c6c6c;
    background: #fff;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    z-index: 2;
    &:hover {
      background: #f5f5f5;
    }
}
.wrapper-fluid {
    width: 100%;
}
.content-min {
    width: 93%;
}
.menu-max {
    width: 13.5vw;
    transition: all 0.2s ease-in-out;
}
.menu-min {
    width: 130px !important;
    margin-left: 0px !important;
    align-items: center !important;
}
.more {
    margin: 0px 5px 15px 0px;
    transition: all .2s ease-in-out;
    &:hover {
        background: #ce441f;
        color: #fff;
    }
}
.mat-icon-tools {
    display: flex;
    align-items: center;
    color: #6c6c6c;
    font-family: "Caviar Dreams", sans-serif;
    // transform: scaleX(0.8);
}
.bnt-tools-style-b {
    color: #6c6c6c !important;
    font-family: "Caviar Dreams", sans-serif !important;
    margin: 0px 5px 17px 0px;
    border: 1px solid #cacaca !important;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: #b5dca5;
        color: #fff !important;
    }
}
.bnt-tools-style-a {
    color: #6c6c6c !important;
    font-family: "Caviar Dreams", sans-serif !important;
    min-width: 35px !important;
    margin-right: 5px;
    border: 1px solid #cacaca !important;
    transition: all .2s ease-in-out;
    &:hover {
        background: #b5dca5;
        color: #fff !important;
    }
}
.item-title {
    color: #eb8b2d;
    font-family: "Caviar Dreams" !important;
}
.item-description {
    color: #6c6c6c;
}