@mixin square($color) {
  color: $color !important;
}
::ng-deep.customize {
  @include square(#6c6c6c);
}
::ng-deep.mat-menu-icon {
  @include square(#6c6c6c);
}
::ng-deep.mat-menu-icon-del {
  @include square(#f44336);
}
.delete {
  @include square(#f44336);
}