<app-header></app-header>
<div class="wrapper-fluid">
    <div class="row" style="display: flex;">
       <div class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }">
        <app-menu></app-menu>
       </div>
       <div class="wapper-content" [ngClass]="{ 'content-min': menu.isCollapsed }">
            <section>
                <div class="wrapper-tools">
                    <div class="tools-item">
                        <h2 class="item-title">Справочник ролей</h2>
                        <span class="item-description">Информационный раздел</span>
                    </div>
                    <div class="tools-item" style="display: flex;">
                        <!-- <button mat-button matTooltip="Добавить объект" class="bnt-tools-style-a" (click)="dialog.isOpen();addSection_1()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                            </span>
                        </button> -->
                    </div>
                </div>
            </section>
            <div class="content">
              
              <p-table [value]="RoleArray" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
              <ng-template pTemplate="header">
                  <tr>
                    <th *ngFor="let head of theader">{{ head }}</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-RoleArray let-rowIndex="rowIndex">
                  <tr>
                      <td>{{rowIndex+1}}</td>
                      <td>{{RoleArray.name}}</td>
                      <td>{{RoleArray.desc}}</td>
                      <td>{{RoleArray.functional}}</td>
                      <td>{{RoleArray.level_of_access}}</td>
                      <td>{{RoleArray.data_access}}</td>
                      <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu class="customize" #menu="matMenu">
                          <!-- <button mat-menu-item  (click)="editRatio(dataKey); dialog.isOpen();addSection_2()">
                            <mat-icon class="mat-menu-icon">edit</mat-icon>
                            <span>Редактировать</span>
                          </button> -->
                          <!-- <button mat-menu-item (click)="delRatio(dataKey)">
                            <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                            <span class="delete">Удалить</span>
                          </button> -->
                        </mat-menu>
                      </td>
                  </tr>
              </ng-template>
              </p-table>

            </div>
            <div class="static-bar"></div>
          </div>
      </div>
  </div>